* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto, 30px;
  }
  body {
    text-align: center;
    flex: auto;
    background-color: firebrick
  }
  
  .quiz-heading {
    font-size: 25px;
    text-align: center;
    flex: auto;
    display: inline-block;
    color:yellow
  }
  
  p {
    padding: 20px;
    font-size: 22px;
    color:yellow
  }
  #timer p {
    float: right;
    padding-right: 20px;
    font-size: 17px;
    flex: auto;
  }
  #scores {
    float: left;
    background-color: darkblue;
    color: yellow;
    padding-left: 10px 15px 10px 15px;
    margin: 10px;
    font-size: 15px;
    flex: auto;
    border-radius: 10px;
  }

  button {
    background-color: darkblue;
    color: yellow;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    font-size: 15px;
    flex: auto;
    display: inline-block;
    border-radius: 10px;
  }
  #answersoption {
    display: block;
  
    padding: 10px 15px 10px 15px;
    flex: auto;
  }
  button:hover {
    text-align: center;
    font-size: 17px;
    color: white;
    background-color: black;
    border-color: black;
    padding: 10px 15px 10px 15px;
  }
  section {
    max-width: 50%;
    margin: auto;
  }
  
  #achievedScore {
    border-top: 1px solid darkblue;
    color: darkblue;
    margin: 10px auto;
    font-size: 14px;
  }
  .gone {
    visibility: hidden;
  }
  
  .hidden {
    display: none;
  }
  
  @media (max-width: 690px) {
    #question2 {
      font-size: smaller;
    }
    #question1 {
      font-size: smaller;
    }
    #questInfo {
      font-size: smaller;
    }
    #answersoption {
      padding: 5px 0px 5px 0px;
      margin: 5px;
    }

button {
    padding: 5px 0px 5px 0px;
    margin: 5px;
  }
  #scores {
    font-size: smaller;
    padding: 5px 0px 5px 0px;
  }
  #timer p {
    font-size: smaller;
  }
  #finish p {
    font-size: smaller;
  }
  #name input {
    padding: 5px;
  }
  h1 {
    font-size: smaller;
  }
  button:hover {
    padding: 5px 0px 5px 0px;
  }
  }
